@font-face
  font-family: 'Cormorant Upright'
  src: local('Cormorant Upright'), local('CormorantUpright-Regular'), url('../fonts/Cormorantupright.woff2') format('woff2')
  font-weight: 400
  font-style: normal
  font-display: block
